body {
    background-image: url("../content/intf/index.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

html {
    height: 100%;
}

.pA {
    background-color: transparent;
    border: none;
    color: transparent;
    height: 100vh;
}

#btnProsseguir {
    height: 35vh;
}