* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    height: 100px;
    width: 100px;
}

.promptSenha{
    position: absolute;
    right: 10%;
    top: 35%;
    scale: 150%;
}

.promptSenha input {
    font-size: 250%;
    font-weight: bolder;
    border-color: transparent;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.promptSenha input:hover {
    background-color: white;
}

body {
    background-image: url('../content/AdminLoginBG.jpg');
    color: white;
}

input {
    text-wrap-mode: wrap;
    font-weight: bolder;
    border-color: transparent;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

input:hover {
    background-color: white;
    color: black;
}

#senha {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    text-align: center;
    font-size: 250%;
    top: 85%;
    width: 100%;
    margin: 0;
    left: -1px;
}