@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body {
    background-image: url("../content/intf/Resultado.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    font-family: "Red Hat Text";
}

html {
    height: 100%;
}