<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/apresentacao.css">
</head>
<body>
    <img src="content/GoodiesShortArrow.png" id="btnProsseguir" class="absolute bottom-0 right-5 animate-pulse hover:animate-ping object-contain">
    
    <div class="grid place-items-center min-h-screen">
        <input type="text" 
        id="nome" 
        placeholder="Insira seu nome aqui e depois toque na seta para continuar." 
        class="align-middle mt-19 w-110 h-15 border-none focus:outline-none"
        maxlength="13"
        >  
    </div>

    <script src="js/TailwindCSS.js"></script>
    <script src="js/apresentacao.js"></script>
</body>
</html>