<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/erro.css">
</head>
<body>
    <div id="btnTentarNovamente">
        <img src="content/icons/Replay.svg" class="absolute bottom-[10vh] right-[10vh]">
        <p class="font-semibold absolute bottom-[10vh] right-[15vh] text-lg">Tentar novamente</p>
    </div>

    <script src="js/TailwindCSS.js"></script>
    <script src="js/erro.js"></script>
</body>
</html>