<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        font-family: Arial;
    }
</style>
<script>
    retornarRest=10
    function retornar() {
        retornarRest--
        if (retornarRest <= 0) {
            let pagina = window.location.href
            let paginaSplit = pagina.split("/")
            let paginaRaw = `http://${paginaSplit[2]}`
            
            fetch(`${paginaRaw}/api/etapa?atualizarManualmente=8`)
                .then(function() {
                    location.reload()
            })
        }
    }
</script>
<body>
    <h1 align="center" onclick="retornar()">Totem indisponível</h1>
    <p align="center">Por favor volte mais tarde, desculpa a incoveniência!</p>
</body>
</html>